---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'

const title = "Home"
---
<style>
</style>
<BaseLayout title={title}>
<h1>Home Page</h1>
<a href="/">Home</a>
<br/>
<a href="/components">Components</a>
<br/>
<a href="/contact">Contact</a>
<h2>Images</h2>
<img src="/images/astronut.jpeg" alt="happy astronut" width="300px">
</BaseLayout>